<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.iecapoeira">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".IEApplication_"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeTab">
        <activity
            android:name=".actv.SplashScreen_"
            android:theme="@style/AppThemeTab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actv.LoginActivity_"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".actv.CadastroActivity_"
            android:label="@string/app_cadastro"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.LoginActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/menuWhiteTheme" />
        <activity
            android:name=".actv.MainActivity_"
            android:label="@string/title_eventos"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actv.NewEventActivity_"
            android:label="@string/title_eventos_new"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.MainActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/menuWhiteTheme" />
        <activity
            android:name=".actv.NewClassActivity_"
            android:label="@string/title_class_register"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.ClassScheduleActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/menuWhiteTheme" />
        <activity
            android:name=".actv.EditNewClassActivity_"
            android:label="@string/title_class_register"
            android:parentActivityName=".actv.ClassScheduleActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/menuWhiteTheme" />
        <activity
            android:name=".actv.EventDetailActivity_"
            android:label="@string/title_eventos"
            android:parentActivityName=".actv.MainActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/menuWhiteTheme" />
        <activity
            android:name=".actv.MyEventDetailActivity_"
            android:label="@string/title_eventos"
            android:parentActivityName=".actv.AgendaActivity_"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/menuWhiteTheme" />
        <activity
            android:name=".actv.ChatActivity_"
            android:label="@string/title_chat"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.SalaChatActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/menuWhiteTheme" />
        <activity
            android:name=".actv.ClassScheduleActivity_"
            android:label="@string/title_aulas"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actv.ClassScheduleDetailActivity_"
            android:label="@string/title_aulas"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.ClassScheduleActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/menuWhiteTheme" />
        <activity
            android:name=".actv.DashboardActivity_"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actv.EventsActivity_"
            android:label="@string/title_eventos"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.MainActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/menuWhiteTheme" />
        <activity
            android:name=".actv.ListaMestreActivity_"
            android:label="@string/title_mestres"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.DashboardActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actv.UserActivity_"
            android:label="@string/title_usuario"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.DashboardActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/menuWhiteTheme" />
        <activity
            android:name=".actv.MestreActivity_"
            android:label="@string/title_mestres"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.ListaMestreActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actv.SimpleTabsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actv.MusicaActivity_"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/title_musicas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actv.MyParceirosActivity_"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/title_parceiros"
            android:screenOrientation="portrait" />

        <activity
            android:name=".actv.NewMusicActivity_"
            android:label="@string/title_new_song"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.MyMusicaActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/menuWhiteTheme" />
        <activity
            android:name=".actv.MusicaDetalheActivity_"
            android:icon="@drawable/ic_logo"
            android:label="@string/title_musicas"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.MusicaActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actv.ParceirosActivity_"
            android:label="@string/title_parceiros"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.DashboardActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/menuWhiteTheme" />
        <activity
            android:name=".actv.CityActivity_"
            android:label="@string/title_filter"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.MainActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/menuWhiteTheme" />
        <activity
            android:name=".actv.UserGoActivity_"
            android:label="Pessoas Inscritas"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.MainActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/menuWhiteTheme"
            />
        <activity
            android:name=".actv.EditalActivity_"
            android:label="@string/title_edital"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.DashboardActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/menuWhiteTheme" />
        <activity
            android:name=".actv.NewEditalActivity_"
            android:label="@string/title_add_edital"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.EditalActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/menuWhiteTheme" />
        <activity
            android:name=".actv.EditNewEventActivity_"
            android:label="@string/title_edit_event"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.MainActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/menuWhiteTheme" />
        <activity
            android:name=".actv.SalaChatActivity_"
            android:label="@string/title_chat"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.DashboardActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/menuWhiteTheme" />
        <activity
            android:name=".actv.NewParceiroActivity_"
            android:label="Novo Mestre"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.ParceirosActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/menuWhiteTheme" />
        <activity
            android:name=".actv.NewMestreActivity_"
            android:label="@string/title_new_partners"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.MyMestreActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/menuWhiteTheme" />
        <activity
            android:name=".actv.AgendaActivity_"
            android:label="Agenda"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actv.MyMusicaActivity_"
            android:label="Agenda"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actv.MyMestreActivity_"
            android:label="@string/title_mestres"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".actv.MyClassActivity_"
            android:label="@string/title_aulas"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actv.ContatoActivity_"
            android:label="@string/title_contato"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.DashboardActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actv.HistoryActivity_"
            android:label="@string/title_historia"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity
            android:name=".actv.MyVideoActivity_"
            android:label="Vídeos"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actv.NewVideoActivity_"
            android:label="Novo vídeo"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:parentActivityName=".actv.MyVideoActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/menuWhiteTheme" />

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="https://parseapi.back4app.com/" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="NurseI82xmOgKWs9ApXuxveQAeoKT4IcT0Yai9aO" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1234"
            android:exported="true" />

        <service android:name=".chat.PubnubService_" />
        <service android:name=".chat.ChatMessageService_" />

        <receiver android:name=".chat.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>